# env
NODE_ENV=development
PORT=8000

# solana
SOLANA_RPC=https://api.mainnet-beta.solana.com
SOLANA_COMMITMENT=confirmed
SOLANA_COMPUTE_UNIT_LIMIT=600000
SOLANA_COMPUTE_UNIT_PRICE=25000
SOLANA_FEE_MARKET=50000
SOLANA_FEE_HIGH=30000
SOLANA_FEE_MEDIUM=20000
SOLANA_FEE_LOW=10000
SOLANA_SERVER_KEY=

# db
DATABASE_URI=postgres://...
DATABASE_DRIVER=postgres|sqlite

# logging
LOGGING_LEVEL=info
LOGGING_PRETTY=false

# jwt
JWT_SECRET=super-secret
JWT_EXPIRES_IN=1d
